/***************************
        SASS VARIABLES
***************************/
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
  margin: 0;
  padding: 0;
  font: normal normal normal 14px/21px "Roboto", sans-serif;
  color: #212121; }

h1 {
  font-size: 40px;
  color: #03A9F4;
  line-height: 48px; }
  h1 small {
    font-size: .5em;
    margin: 0 1em;
    color: #212121; }

h2 {
  color: #FFFFFF;
  text-shadow: 0 1px 2px #212121;
  font-size: 30px;
  line-height: 29px;
  padding: 10px 5%; }

h3 {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 22px; }

h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 17px; }

h2.accent-bg {
  color: #FFFFFF; }

.clear-fix {
  overflow: auto; }

.primary-bg {
  background-color: #607D8B; }
  .primary-bg h2 {
    color: #FFFFFF; }

.primary-bg-text {
  color: #FFFFFF; }

.light-bg {
  background-color: #CFD8DC; }
  .light-bg h3 {
    color: #212121; }

.dark-bg {
  background-color: #455A64; }

.accent-bg {
  background-color: #03A9F4; }

.text-secondary {
  color: #727272; }

.accent-text {
  font-variant: small-caps;
  color: #03A9F4; }

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px; }

.center-content {
  padding: 2.5% 5%; }

.section {
  border-bottom: 1px solid #B6B6B6;
  padding-bottom: 2em; }

#header li,
#header p {
  color: #FFFFFF; }

#header #header-top {
  padding: 1% 5% 0; }

#header #header-main {
  padding: 0 5% 2.5%; }

#skills-h3 {
  color: #03A9F4;
  margin-top: .5em; }

#skills {
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

#footerContacts {
  background-color: #455A64; }

#footerContacts .accent-text,
#topContacts .accent-text {
  font-size: 1.25em; }

.work-entry {
  margin: 1em;
  margin-bottom: 2em;
  padding: 1em; }
  .work-entry h3,
  .work-entry h4,
  .work-entry p {
    color: #212121; }
  .work-entry .date-text,
  .work-entry .location-text {
    font-style: italic;
    font-size: 16px;
    line-height: 18px; }
  .work-entry h3,
  .work-entry .employer {
    float: left; }
  .work-entry h4 {
    color: #727272;
    font-weight: normal;
    padding: 5px 0 0 0;
    margin: 0; }
  .work-entry p {
    text-align: justify;
    padding: 0 1em;
    margin-top: -1em; }
  .work-entry .date-text,
  .work-entry .location-text {
    float: right; }

.education-entry,
.project-entry,
.work-entry,
.online-course {
  padding: 0 5%; }

a {
  color: #03A9F4;
  text-decoration: none; }

.welcome-message {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 2em; }

ul {
  list-style-type: none; }

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none; }

img {
  padding: 10px; }

span {
  padding: 5px; }

#lets-connect {
  text-align: center; }

#online-courses {
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 1em; }
  #online-courses .section {
    margin: 0 5%; }
  #online-courses .online-course {
    padding: 1% 6%; }
  #online-courses .onlineschool-courses {
    position: relative;
    display: flex;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow-x: scroll;
    margin: 0 7.5%; }
    #online-courses .onlineschool-courses .onlineschool-course {
      background-color: #fff;
      padding: 5px;
      border-radius: 1px;
      box-shadow: 0 1px 3px #000;
      margin: 5px;
      text-align: center;
      flex: 1;
      max-height: 150px;
      min-width: 115px;
      overflow: hidden; }
      #online-courses .onlineschool-courses .onlineschool-course a {
        font-size: 1em;
        display: block; }
      #online-courses .onlineschool-courses .onlineschool-course img {
        padding: 0;
        max-height: 75px; }

#map {
  display: block;
  height: 100%;
  margin: 0 5%; }

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%; }

/* Media queries to handle various device widths */
@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%; } }

@media only screen and (max-width: 900px) {
  .biopic {
    width: 175px; } }

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%; }
  .biopic {
    width: 150px; }
  .welcome-message {
    display: none; } }

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block; } }
